.inputLine {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: "Fira Mono", "Fira Code", monospace;
  font-size: 1rem;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
}

.prompt {
  color: var(--nord14);
  font-weight: 600;
  font-family: inherit;
}

.path {
  color: var(--nord9);
}

.input {
  background: transparent;
  border: none;
  color: var(--nord4);
  font-family: inherit;
  font-size: inherit;
  outline: none;
  flex: 1;
  margin-left: 0.2em;
}
