.container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.promptLine {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.userHost {
  color: var(--nord14);
  font-weight: 700;
}

.path {
  color: var(--nord9);
  font-weight: 500;
}

.inputLine {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.arrow {
  color: var(--nord14);
  font-weight: bold;
}

.input {
  background: transparent;
  border: none;
  color: var(--nord4);
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  flex: 1;
}
