.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  padding: 0;
  margin: 0;
}

.arrow {
  margin-left: 0.5rem;
  transition:
    transform 0.2s,
    color 0.2s;
  color: var(--nord7);
  width: 1.4rem;
  height: 1.4rem;
  flex-shrink: 0;
}

.card:hover .arrow {
  transform: translateY(-0.3rem) scale(1.1);
  color: var(--nord8);
}

.description {
  text-align: justify;
  margin: 0;
}

.learned {
  color: var(--nord14);
  text-align: justify;
  font-style: italic;
}
