html {
  scrollbar-width: thin;
  scrollbar-color: var(--nord3) var(--nord1);
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 10px;
  background: var(--nord1);
}

body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: var(--nord3);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: var(--nord8);
}
