.window {
  background: var(--nord1);
  border-radius: 1.2rem;
  box-shadow:
    0 4px 16px 0 rgba(0, 0, 0, 0.4),
    0 2px 4px 0 rgba(0, 0, 0, 0.3);
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  overflow: visible;
  height: 100%;
  width: 100%;
}

.windowBar {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1.2rem 1.2rem 0 0;
  background: var(--nord2);
}

.windowButtons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  padding-left: 0.8rem;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.85;
  margin-top: 0.3rem;
  transition:
    box-shadow 0.15s,
    outline 0.15s,
    transform 0.15s;
  outline: none;
  border: none;
}

.dot.close {
  background: var(--nord11);
  cursor: pointer;
  box-shadow: 0 0 0 0px var(--nord11);
}

.dot.close:hover,
.dot.close:focus {
  opacity: 1;
  box-shadow:
    0 0 0 2px var(--nord11),
    0 2px 8px rgba(0, 0, 0, 0.1);
  outline: 2px solid var(--nord11);
  transform: scale(1.05);
}

.dot.minimize {
  background: var(--nord13);
}

.dot.maximize {
  background: var(--nord14);
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  scrollbar-gutter: stable both-edges;
}
